# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
bin/*
bin/
.vscode/
.vscode/*
.DS_Store/*
.DS_Store/
*/.DS_Store/*
*/.DS_Store

.idea/
.idea/*
.vscode/*

.DS_Store
.vscode/*
default.etcd/
coverage.txt
bundle/*
bundle.Dockerfile
golangci-lint-report.xml
